# Ignore everything
*

# But not these files...
!.gitignore
!PLACE_INPUT_CSVS_HERE.txt
# etc...

# ...even if they are in subdirectories
!*/

# if the files to be tracked are in subdirectories
!*/a/b/file1.txt
!*/a/b/c/*
